Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed (from ./custom_loaders/theme-filter-loader.js):
  Error: ENOENT: no such file or directory, open 'C:\laragon\www\talktob\themes\theme-tailwind\src\partials\carouse  l\full_text_button.htm':
  Error: ENOENT: no such file or directory, open 'C:\laragon\www\talktob\themes\theme-tailwind\src\partials\carouse  l\full_text_button.htm'
  
  - compiler.js:79 childCompiler.runAsChild
    [theme-tailwind]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:343 compile
    [theme-tailwind]/[webpack]/lib/Compiler.js:343:11
  
  - Compiler.js:681 hooks.afterCompile.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compiler.js:681:15
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compiler.js:678 compilation.seal.err
    [theme-tailwind]/[webpack]/lib/Compiler.js:678:31
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1423 hooks.optimizeAssets.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compilation.js:1423:35
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1414 hooks.optimizeChunkAssets.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compilation.js:1414:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1409 hooks.additionalAssets.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compilation.js:1409:36
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1405 hooks.optimizeTree.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compilation.js:1405:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1342 Compilation.seal
    [theme-tailwind]/[webpack]/lib/Compilation.js:1342:27
  
  - Compiler.js:675 compilation.finish.err
    [theme-tailwind]/[webpack]/lib/Compiler.js:675:18
  
  - Compilation.js:1261 hooks.finishModules.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compilation.js:1261:4
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [theme-tailwind]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1253 Compilation.finish
    [theme-tailwind]/[webpack]/lib/Compilation.js:1253:28
  
  - Compiler.js:672 hooks.make.callAsync.err
    [theme-tailwind]/[webpack]/lib/Compiler.js:672:17
  
  
  - Compilation.js:1185 _addModuleChain
    [theme-tailwind]/[webpack]/lib/Compilation.js:1185:12
  
  - Compilation.js:1097 processModuleDependencies.err
    [theme-tailwind]/[webpack]/lib/Compilation.js:1097:9
  
  - next_tick.js:61 process._tickCallback
    internal/process/next_tick.js:61:11
  
</pre>