<div class="bg-mydark shadow-inner w-full text-white">
    <div class="flex flex-col md:flex-row items-center justify-around p-4">
        <a href="#" class="hover:text-secondary hover:underline">
            <p>Site sous octoberCms/Laravel</p>
        </a>
        <a href="{{ 'remerciements' | page}}" class="hover:text-secondary hover:underline">
            <p>Remerciements</p>
        </a>
        <a href="{{ 'mentions' | page}}" class="hover:text-secondary hover:underline">
            <p>Mentions légales</p>
        </a>
        <a href="#" class="modal-open hover:text-secondary hover:underline">
            <p>Contact</p>
        </a>
    </div>
</div>