{% spaceless %}
<div class="bg-{{ type }} w-full rounded-lg p-4 text-white text-center">

    {% if title %}
    <h4>{{ title }}</h4>
    {% endif %}

    {% if content %}
    <p>{{ content }}</p>
    {% endif %}

    {% if list %}
    <ul>
        {% for item in list %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% if jscript %}
<script>
    {% if errors %}
                var errors = JSON.parse('{{ errors|raw }}');
            {% endif %}
            {{ jscript|raw }}
</script>
{% endif %}

{% endspaceless %}