<div class="relative carousel overflow-hidden" data-flickity='{ "autoPlay":true}'>
    <div class="bg-red w-full h-64">
        <p class="absolute p-4">Photo de depard</p>
        <img src="https://picsum.photos/500/300?random=1" class="w-full h-full object-cover">
    </div>
    <div class="bg-red w-full h-64 flex">
        <p class="absolute p-4">Photo pour le client</p>
        <img src="https://picsum.photos/500/300?random=2" class="w-full h-full object-cover">
    </div>
    <div class="bg-red w-full h-64 flex">
        <p class="absolute p-4">Photo pour le client</p>
        <img src="https://picsum.photos/500/300?random=3" class="w-full h-full object-cover">
    </div>
</div>